<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
  <select id="totalRecord" resultType="java.lang.Integer">
  	select count(*) from board
  	<if test="keyword != null">
			where ${searchColumn} like '%'||#{keyword}||'%' 
	</if>
  </select>

  <select id="findAll" resultType="boardVO">
   select no,title,writer,content,regdate,hit,fname,pwd,ip from(
	select rownum num,no,title,writer,content,regdate,hit,fname,pwd,ip from
	(select no,title,writer,content,regdate,hit,fname,pwd,ip from board 
		<if test="keyword != null">
			where ${searchColumn} like '%'||#{keyword}||'%' 
		</if>
		<if test="orderColumn != null">
			 order by ${orderColumn}
		</if>
	))
	where num between #{start} and #{end}
  </select>
  
  <insert id="insert" parameterType="boardVO">
  	insert into board(no,title,writer,pwd,content,regdate,hit,fname,ip) values(#{no},#{title},#{writer},#{pwd},#{content},sysdate,0,#{fname},#{ip})
  </insert>
  
  <select id="getNextNO" resultType="java.lang.Integer">
  	select nvl(max(no),0)+1 from board
  </select>
 
  <select id="findByNO" resultType="boardVO">
  	select * from board where no=#{no}
  </select>
  
  <update id="update" parameterType="boardVO">
  	update board set title=#{title},content=#{content},fname=#{fname} where no=#{no} and pwd=#{pwd}
  </update>
  
  <delete id="delete" parameterType="boardVO">
  	delete board where no=#{no} and pwd=#{pwd}
  </delete>
  
  <update id="updateHit">
  	update board set hit=hit+1 where no=#{no}
  </update>
</mapper>